.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: flex-start;
  padding: 10px 20px;
  height: 56px;
  width: 100%;
}

.header__inner {
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 99px;
}

.header__nav {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.header__nav-link {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0;
  color: #000000;
  text-decoration: none;
  padding: 8.5px 12px;
  border-radius: 4px;
}

.header__nav-link:hover {
  background-color: #9679d91a;
}

.header__nav-link_active {
  background-color: #9679d933;
  opacity: 100%;
}

.header__nav-link_active:hover {
  background-color: #9679d933;
  opacity: 100%;
}

.header__menu-btn {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/images/menu-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.header__account {
  position: relative;
}

.header__account-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  right: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px #0000001a;
  border-radius: 4px;
  z-index: 102;
}

.header__dropdown-btn {
  display: inline-flex;
  align-items: center;
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0;
  padding: 9.5px 16px;
  border-radius: 4px;
  background-color: #1c1c1c0d;
  gap: 10px;
}

.header__dropdown-btn::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../assets/images/chevron-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header__logout-btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 14px 10px 16px;
  border: 0;
  background: none;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0;
  color: #dc2626;
}

.header__logout-btn::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../assets/images/log-out.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1200px) {
  .header {
    justify-content: flex-start;
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }

  .header__menu-btn {
    display: block;
  }

  .header__logo {
    margin-left: auto;
  }

  .header__nav {
    position: fixed;
    top: 47px;
    bottom: 0;
    left: 0;
    width: 75%;
    max-width: 255px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 101;
    display: none;
    border-top: 1px solid rgb(0 0 0 / 0.1);
    background-color: #fff;
    justify-content: end;
  }

  .header__nav_mobile {
    display: flex;
    padding: 7.5px 0 77.5px;
  }

  .header__nav-link {
    width: 100%;
  }

  .header__account {
    width: 100%;
  }

  .header__dropdown-btn {
    width: 100%;
    align-items: center;
  }

  .header__logout-btn {
    justify-content: start;
    gap: 10px;
  }
}
